#root{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #159688 15%, #d6dbd7 15%);
}

.central-app-container{
    background-color: white;
    width: 80%;
    height: 95%;
}

.sidebar{
    background-color: lightseagreen;
    height: 100%;
    width: 35%;
}

.profile-bar{
    background-color: #eaeaea;
    height: 8%;
}