#root{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #159688 15%, #d6dbd7 15%);
}

.central-app-container{
    background-color: white;
    width: 85%;
    height: 95%;
}

.sidebar{
    background-color: white;
    height: 100%;
    width: 35%;
}

.profile-bar{
    background-color: #eaeaea;
    height: 8%;
}

.profile-pic{
    border-radius: 50%;
    height: 80%;
}

.profile-tool-icon{
    color: #b1b1b1;
}
.notis-info-bar{
    background-color: #91dbfb;
    height: 10%;
}

.notis-background{
    background-color: white;
    height: 80%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.bell{
    color: #91dbfb;
}

.attiva-notifiche-desktop{
    color: #637ea5
}
.attiva-notifiche-desktop:hover{
    color: #b1b1b1;
}

.search-bar-area{
    background-color: #fafafaf0;
    height: 5%;
}

.searchbar{
    width: 98%;
    border: 1px solid #dcdcdc;
    border-radius: .2rem;
}

.all-chats-preview{
    height: 77%;
}

.chat-container{
    background-color: white;
    height: 13%;
    border-bottom: 1px solid #dcdcdc;
}
.chat-container:hover{
    cursor: pointer;

}

.chat-preview{
    height: 100%;
}

.chat-avatar{
    height: 80%;
    border-radius: 50%;
}


.last-message,
.last-message-time{
    color: #b9bdc2;
}

.last-message-time{
    font-size: 0.7rem;
}

.selected-chat-area{
    background-color: lightskyblue;
    height: 100%;
    width: 65%;
}

.selected-chat-bar{
    background-color: #eaeaea;
    height: 8%;
    border-left: 1px solid #dcdcdc;
}

.last-seen{
    color: #6c7477
}

.selected-chat-message-area{
    background-image: url(img/mine.jpg);
    height: 84%;
}

.received-message,
.sent-message{
    max-width: 45%;
    border-radius: 0.5rem;
    margin-bottom: 0.1rem;
}

.received-message{
    background-color: #ffffff;
}
.sent-message{
    background-color: #d6f8bd;
    
}

.emoji-text-send-bar{
    background-color: #f3eeea;
    height: 8%;
    border-left: 1px solid #dcdcdc;
}

.message-input-bar{
    height: 80%;
    width: 85%;
    border: none;
    border-radius: 0.3rem;
}

.message-tool-icon{
    color: #6b7376;
}